<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Directive Scopes</title>
    <script src="angular.js"></script>
    <link href="bootstrap.css" rel="stylesheet" />
    <link href="bootstrap-theme.css" rel="stylesheet" />
    <!--<script type="text/ng-template" id="scopeTemplate">
        <div class="panel-body">
            <p>Data Value: {{local}}</p>
        </div>
    </script>-->
    <script type="text/javascript">
        angular.module("exampleApp", [])
                .directive("scopeDemo", function () {
                    return {
                        template: function() {
                            return angular.element(
                                    document.querySelector("#scopeTemplate")).html();
                        },
                        scope: {
                            local: "@nameprop"
                        }
                    }
                })
                .directive("ngFileSelect", function () {
                    return {
                        template: function() {
                            return angular.element(
                                    document.querySelector("#scopeTemplate")).html();
                        },
                        scope: {
                            file: "&ngFileSelect"
                        },
                        link: function(scope, elem, attrs) {
                            elem.on('change', function(e){
                                var fileList = elem[0].files;
                                var $files = [];
                                for(var f = 0; f < fileList.length ; f++){
                                    $files.push(fileList[f]);
                                }
                                scope.file({ $files: $files } );
                            })
                        }
                    }
                })
                .controller("scopeCtrl", function ($scope) {
                    $scope.data = { name: "Adam" };
                    $scope.onFileSelect = function($files){
                        console.log("Files are: " +$files);
                        for(var f = 0; f < $files.length ; f++){
                            console.log($files[f]);
                        }
                    }

                    $scope.viewFiles = function(){
                        console.log("Files ares: " + $scope.selectedFiles);

                    }
                });
    </script>
</head>
<body ng-controller="scopeCtrl">
<div class="panel panel-default">
    <!--<div class="panel-body">
        Direct Binding: <input ng-model="data.name" />
    </div>
    <div class="panel-body" scope-demo="console.log($eve" nameprop="{{data.name}}"></div>-->
    <input type="file" ng-file-select="onFileSelect($files)" multiple onclick="this.value=null">
    <input type="file" ng-file-select="onFileSelect($files)" multiple ng-model="selectedFiles"
           onclick="this.value=null">
    <button ng-click="viewFiles()">View files</button>
</div>
</body>
</html>