<script type="text/ng-template" id="galleryTemplate">
    <div id="slideshow-wrap">
        <div id="slideshow-inner">
            <ul ng-style="{'left' : leftDistance, 'width' : ulWidth}">
                <li ng-repeat="item in galleryImages" ng-style="{'width' : liWidth}">
                    <img ng-src="{{item.path}}"/>
                </li>
            </ul>
        </div>
        <div style="margin-top: 5px">
            <div style="text-align: center; font-weight: bold; font-size: 25px"><span>{{imageDescription}}</span></div>
            <div>
                <img ng-src="{{item}}" height="60px" width="70px" style="padding: 1px; cursor:pointer; margin-top: 10px" ng-repeat="item in productImages"
                 ng-click="calculateLeftDistance($index); setImageDescription($index)"/>
            </div>
        </div>
    </div>
</script>

<style>
    .modal-dialog {
        width: 640px !important;
    }

    #slideshow-wrap {
        height: auto;
        min-width: 260px;
        max-width: 620px;

    }

    #slideshow-inner {
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        overflow: hidden;
        position: relative;

    }

    #slideshow-inner > ul {
        list-style: none;
        height: 100%;
        overflow: hidden;
        position: relative;
        left: 0px;
        -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
        -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
        -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
        transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
        margin: 0;
        padding: 0;
    }

    #slideshow-inner > ul > li {
        height: 465px;
        float: left;
        position: relative;

    }

    /*.photos-gallery ul {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }

    .photos-gallery ul li {
        list-style: none;
        margin-bottom: 25px;
    }*/

    .main-picture {
        cursor: pointer;
    }

    /*.photos-gallery {
        background: linear-gradient(#222222, #444444);
    }*/

    /*arbored*/
    .pill {
        border: 1px solid #dadde2;
        -webkit-border-radius: 4px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 4px;
        -moz-background-clip: padding;
        border-radius: 4px;
        background-clip: padding-box;
    }

    .pill table {
        width: 100%;
    }

    .pill table td.pill-section {
        border-right: 1px solid #dadde2;
        color: #3b3d40;
        padding: 7px 14px;
        text-align: center;
    }

    .pill table td.pill-section .pill-section-figure {
        font-size: 17px;
    }

    .pill table td.pill-section .pill-section-caption {
        color: #939292;
        font-size: 12px;
    }

    .location-info h1 {
        font-size: 31px;
        font-weight: 300;
        margin: 0 0 8px 0;
    }

    .description-info {
        /*color: #939292;*/
        border: 2px solid #a1a1a1;
        text-align: center;
        font-weight: bold;
        width: 100%;
        border-radius: 25px;
        margin-bottom: 2px;
        /*background-color: #444444;*/
        background-color: #227dda;
        color: #ffffff;
    }

    .product-details {
        /*margin: 10px 0 0 10px;*/
        width: 100%;
    }

    .selectedThumbnail {
        border: 2px dotted #101010;
    }

    .details-container {
        width: 100%;
        height: 100%;
        box-shadow: 3px 3px 10px #222222;
    }

    .btn-circle {
        background-color: #C53F00;
        color: #ebebeb;
        width: 120px;
        height: 40px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        font-weight: bolder;
        line-height: 1.42;
        border-radius: 10px;
    }

    .features-list ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .features-list ul li {
        background: url("/images/icons/check-small.png") no-repeat;
        background-position:  0% 40%;

        padding: 5px 0px 5px 25px;
        font-weight: 900;
    }

    .features-list li:nth-child(odd) {
        /*background-color: #ebebeb;*/
    }

    .details-list table {
        width: 100%;
    }

    .details-list table tr td {
        padding: 5px 3px;
        font-weight: 700;
        width: 50%;
    }

    .details-list table tr:nth-child(odd) {
        background-color: #ebebeb;
    }

</style>

<div>
    <div ng-controller="productDetailsCtrl">
        <div class="product-details">
            <div class="well well-sm details-container">
                <div style="height: 420px; width: 100%; text-align: center">
                    <div style="float: left; width: 100%; " class="photos-gallery">
                        <div style="margin: 3px auto">
                            <img ng-src="{{currentImage}}" height="340px"
                                 width="490px" class="main-picture" style="border-radius: 15px;"
                                 modal-gallery/>
                        </div>

                        <div style="float: left; height: 60px; width: 100%;">
                            <div style="width: 65%; float: left;">
                                <!--<img src="/images/up-arrow.png" height="10px" width="10px" ng-click="selectUp()">-->
                                <img ng-src="{{currentProductImages[$index]}}" height="60px" width="70px"
                                     ng-class="{selectedThumbnail : isCurrentImage(currentProductImages[$index])}"
                                     ng-repeat="item in currentProductImages | limitTo: 3"/>
                                <!--ng-click="selectThumbnail(currentProductImages[$index])"-->


                                <!--<img src="/images/down-arrow.png" height="10px" width="10px"
                                     ng-click="selectDown()">-->
                            </div>
                            <div style="float: left; height: 60px; width: 35%; ">
                                <button class="btn-circle vertical-center">Inquire!</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="description-info">
                    Features
                </div>
                <div class="features-list"
                     style="min-height: 200px; font-size: 12px; font-family: 'proxima-nova', sans-serif; color: #333333;">
                    <ul class="row">
                        <li class="col-md-6 col-lg-6">Good Condition</li>
                        <li class="col-md-6 col-lg-6">Near SM</li>
                        <li class="col-md-6 col-lg-6">Nice garden</li>
                        <li class="col-md-6 col-lg-6">Open sun </li>
                        <li class="col-md-6 col-lg-6">Near beach </li>
                        <li class="col-md-6 col-lg-6">10 mins walk from Seton</li>
                        <li class="col-md-6 col-lg-6">20 mins walk from Kencare</li>
                        <li class="col-md-6 col-lg-6">No problems with floods</li>

                        <li class="col-md-6 col-lg-6">Type: Bungalow</li>
                        <li class="col-md-6 col-lg-6">Style: 2 Story !</li>
                        <li class="col-md-6 col-lg-6">Lot Type: Rectangular</li>
                        <li class="col-md-6 col-lg-6">Basement: Yes, Full </li>
                        <!--<li class="col-lg-6">Garage: Triple, Attached </li>
                        <li class="col-lg-6">Bedrooms: 5</li>
                        <li class="col-lg-6">Address: #5 Aurora Pijuan St, </li>
                        <li class="col-lg-6">Near Kencare</li>-->


                    </ul>
                </div>

                <div class="description-info">
                    Details
                </div>

                <div class="details-list"
                     style="height: 230px; overflow-y: auto; font-size: 12px; font-family: 'proxima-nova', sans-serif; color: #333333;">
                    <table>
                        <tr>
                            <td>Price: 2,000,000</td>
                            <td>Bath: 3</td>
                        </tr>
                        <tr>
                            <td>Bedrooms: 3</td>
                            <td>Lot Area: 120 sq. m</td>
                        </tr>
                        <tr>
                            <td>Oldie but goodie</td>
                            <td>Bath: 3</td>
                        </tr>
                        <tr>
                            <td>Floor Area: 140 sq. m</td>
                            <td>Type: Condo</td>
                        </tr>

                        <tr>
                            <td>Built in 1980</td>
                            <td>Basement: Yes, Full "Finished Basement!</td>
                        </tr>

                        <tr>
                            <td>Built in 1980</td>
                            <td>Garage: Triple, Attached Full "Furnished Flooring!</td>
                        </tr>

                        <tr>
                            <td>Built in 1980</td>
                            <td>Basement: Yes, Full "Finished Basement!</td>
                        </tr>

                        <tr>
                            <td>Built in 1980</td>
                            <td>Near Kencare</td>
                        </tr>

                    </table>
                </div>

                <!--<ul class="row" >
                    <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive"
                                                                         src="/images/test_image1_200x150.jpg"/>
                    </li>
                    <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive"
                                                                         src="/images/test_image2_200x150.jpg"/>
                    </li>
                    <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive"
                                                                         src="/images/test_image3_200x150.jpg"/>
                    </li>
                    <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive"
                                                                         src="/images/test_image4_200x150.jpg"/>
                    </li>
                    <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive"
                                                                         src="/images/test_image5_200x150.jpg"/>
                    </li>
                    <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive"
                                                                         src="/images/test_image6_200x150.jpg"/>
                    </li>
                    <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive"
                                                                         src="/images/test_image7_200x150.jpg"/>
                    </li>
                </ul>-->

            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</div>
</div>