<div class="panel panel-default row"
     ng-controller="productListCtrl"
     ng-hide="data.error">

    <div class="container">
        <div class="row" style="overflow-y: auto; height: 480px;">
            <div class="well col-lg-4"
                 ng-repeat="item in data.products | filter:categoryFilterFn | range:selectedPage:pageSize">
                <h3>
                    <strong>{{item.name}}</strong>
                    <span class="pull-right label label-primary">
                    {{item.price | currency}}
                    </span>
                </h3>
                <button ng-click="addProductToCart(item)"
                        class="btn btn-success pull-right">
                    Add to cart
                </button>
                <span class="lead">{{item.description}}</span>
            </div>
            <!-- <div class="pull-right btn-group">
                 <a ng-repeat=
                            "page in data.products | filter:categoryFilterFn | pageCount:pageSize"
                    ng-click="selectPage($index + 1)"
                    class="btn btn-default"
                    ng-class="getPageClass($index + 1)">
                     {{$index + 1}}
                 </a>
             </div>-->
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!--<a ng-click="selectCategory()"
               class="btn btn-block btn-default btn-lg col-lg-1">Home</a>-->
            <div ng-repeat="item in data.products | orderBy:'category' | unique:'category'"
                 ng-click="selectCategory(item)"
                 class=" btn btn-lg btn-default col-md-2"
                 ng-class="getCategoryClass(item)">
                {{item}}
            </div>
        </div>
    </div>
</div>
