<!--<div class="container">
    <div class="row">
        <div class="col-lg-6">
           {{currentProduct.description}}
        </div>
        <div class="col-lg-6">
            {{currentProduct.description}}
        </div>
    </div>

</div>-->


<style>
    /*.photos-gallery ul {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }

    .photos-gallery ul li {
        list-style: none;
        margin-bottom: 25px;
    }*/

    .photos-gallery img {
        cursor: pointer;
    }

    /*arbored*/
    .pill {
        border: 1px solid #dadde2;
        -webkit-border-radius: 4px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 4px;
        -moz-background-clip: padding;
        border-radius: 4px;
        background-clip: padding-box;
    }

    .pill table {
        width: 100%;
    }

    .pill table td.pill-section {
        border-right: 1px solid #dadde2;
        color: #3b3d40;
        padding: 7px 14px;
        text-align: center;
    }

    .pill table td.pill-section .pill-section-figure {
        font-size: 17px;
    }

    .pill table td.pill-section .pill-section-caption {
        color: #939292;
        font-size: 12px;
    }

    .location-info h1 {
        font-size: 31px;
        font-weight: 300;
        margin: 0 0 8px 0;
    }

    .description-info {
        /*color: #939292;*/
        border: 2px solid #a1a1a1;
        text-align: center;
        font-weight: bold;
        width: 540px;
        border-radius: 25px;
        margin-bottom: 2px;
        background-color: #444444;
        color: #ffffff;
    }

    .product-details {
        margin: 10px 0 0 10px;
        width: 100%;
    }

    .selectedThumbnail {
        border: 2px dotted #101010;
    }
</style>

<div>
    <div ng-controller="productDetailsCtrl" ng-init="readyItemGallery()">


        <!--<div class="header-placeholder">
            <div style="margin: 5px 0 0 5px">
                <img src="/images/icons/back.png" height="40px" width="40px"
                     ng-class="{pointed : hover}"
                     ng-mouseenter="hover = true"
                     ng-mouseleave="hover = false"
                     ng-click="redirectPage('/products')">
            </div>
        </div>-->

        <div class="product-details"> <!--class="container">-->
            <!--<div class="row">
                <div class="col-lg-6">-->
            <div class="description-info">
                Details
            </div>
            <div style="height: 200px; font-size: 12px; font-family: 'proxima-nova', sans-serif; color: #333333; overflow-y: auto">
                <div>
                    <ul>
                        <li>Type: Bungalow</li>
                        <li>Style: 2 Story "Finished Basement!</li>
                        <li>Lot Type: Rectangular</li>
                        <li>Basement: Yes, Full "Finished Basement!</li>
                        <li>Garage: Triple, Attached "10.5' Tall Ceilings"</li>
                        <li>Bedrooms: 5</li>
                        <li>Address: #5 Aurora Pijuan St, BF Resort Village, Las Pinas City</li>
                        <li>Near Kencare</li>

                        <li>Type: Bungalow</li>
                        <li>Style: 2 Story "Finished Basement!</li>
                        <li>Lot Type: Rectangular</li>
                        <li>Basement: Yes, Full "Finished Basement!</li>
                        <li>Garage: Triple, Attached "10.5' Tall Ceilings"</li>
                        <li>Bedrooms: 5</li>
                        <li>Address: #5 Aurora Pijuan St, BF Resort Village, Las Pinas City</li>
                        <li>Near Kencare</li>
                    </ul>
                    <!-- </div>
                     <div style="float: left">
                         <ul>
                         <li>Address: 710 Red Oaks</li>
                         <li>Lot Size:  1.7acres  n/a  </li>
                         <li>Taxes: $2,377.00 (2014)</li>
                         <li>Basement: Yes, Full "Finished Basement!</li>
                         <li>Good garden</li>
                         <li>Morning sun</li>
                         </ul>-->
                </div>
            </div>

            <!--<div class="description-info">
                Description
            </div>

            <div style="height: 150px; border: 1px solid #a1a1a1;">
                <div>

                </div>
            </div>-->

            <div class="description-info">
                Photos
            </div>
            <div style="height: 220px;">
                <div class="photos-gallery">
                    <div style="width: 50%; height: 190px; float: left">
                        <img ng-src="{{currentImage}}" height="210px"
                             width="250px"/>
                    </div>
                    <div class="photo-thumbnails" style="float: left; height: 190px; width: 80px;">

                        <!--<img src="/images/test_image1_200x150.jpg" height="70px"
                             width="80px"
                                />-->

                        <img ng-src="{{currentProductImages[getImagesInInterval()[0]]}}" height="70px"
                             width="80px"
                                ng-class="{selectedThumbnail : isCurrentImage(currentProductImages[getImagesInInterval()[0]])}"
                                ng-click="selectThumbnail(currentProductImages[getImagesInInterval()[0]])"/>
                        <img height="70px"
                             width="80px"
                             ng-src="{{currentProductImages[getImagesInInterval()[1]]}}"
                             ng-class="{selectedThumbnail : isCurrentImage(currentProductImages[getImagesInInterval()[1]])}"
                                ng-click="selectThumbnail(currentProductImages[getImagesInInterval()[1]])"/>
                       <img  height="70px"
                             width="80px"
                             ng-src="{{currentProductImages[getImagesInInterval()[2]]}}"
                             ng-class="{selectedThumbnail : isCurrentImage(currentProductImages[getImagesInInterval()[2]])}"
                             ng-click="selectThumbnail(currentProductImages[getImagesInInterval()[2]])"/>

                    </div>
                    <div style="float: left; height: 190px; width: 80px;">

                    </div>
                </div>
            </div>
            <!--<ul class="row" >
                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive"
                                                                     src="/images/test_image1_200x150.jpg"/>
                </li>
                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive"
                                                                     src="/images/test_image2_200x150.jpg"/>
                </li>
                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive"
                                                                     src="/images/test_image3_200x150.jpg"/>
                </li>
                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive"
                                                                     src="/images/test_image4_200x150.jpg"/>
                </li>
                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive"
                                                                     src="/images/test_image5_200x150.jpg"/>
                </li>
                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive"
                                                                     src="/images/test_image6_200x150.jpg"/>
                </li>
                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive"
                                                                     src="/images/test_image7_200x150.jpg"/>
                </li>
            </ul>-->


        </div>

    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</div>
</div>